In [1]:
import pandas as pd
from lark import Lark, Transformer, v_args
import dhlab as dh
import tools_imag as ti

In [2]:
# Define the grammar for expressions
grammar = """
    ?start: expr

    ?expr: expr "+" term   -> add
         | expr "-" term   -> sub
         | term

    ?term: term "*" factor -> mul
         | term "/" factor -> div
         | factor

    ?factor: WORD           -> lookup
           | "(" expr ")"

    %import common.WORD
    %import common.WS_INLINE
    %ignore WS_INLINE
"""

# Parser using the defined grammar
parser = Lark(grammar, start='start', parser='lalr')

In [53]:
@v_args(inline=True)
class Calculate(Transformer):
    def __init__(self, current_corpus):
        self.current_corpus = current_corpus  # Store current_corpus in the instance

    def add(self, a, b):
        #print("Adding:", a, "and", b)  # Debug: print the two components being added
        if isinstance(a, pd.DataFrame) and isinstance(b, pd.DataFrame):
            # Add the two DataFrames column-wise, summing the aligned indices
            result = a.iloc[:,0].add(b.iloc[:,0]).to_frame()#, fill_value=0).sum(axis=1).to_frame(name='sum')
            #print("Result of add:", result)  # Debug: print the result of the addition
            return result
        return a + b

    def sub(self, a, b):
        if isinstance(a, pd.DataFrame) and isinstance(b, pd.DataFrame):
            return a.iloc[:, 0].subtract(b.iloc[:,0]).to_frame()#, fill_value=0).sum(axis=1).to_frame(name='diff')
        return a - b

    def mul(self, a, b):
        if isinstance(a, pd.DataFrame) and isinstance(b, pd.DataFrame):
            return a.iloc[:,0].multiply(b.iloc[:, 0]).to_frame()#, fill_value=1).sum(axis=1).to_frame(name='mul')
        return a * b

    def div(self, a, b):
        if isinstance(a, pd.DataFrame) and isinstance(b, pd.DataFrame):
            #return a.divide(b, fill_value=1).sum(axis=1).to_frame(name='div')
            return a.iloc[:, 0].divide(b.iloc[:,0]).to_frame()#, fill_value=1)#.to_frame(name='div')
        return a / b

    def lookup(self, word):
        #print(f"Looking up word: {word}")  # Debug: print the word being looked up
        # Return the trendline (DataFrame) for the word or a default DataFrame if not found
        result = ti.corpus_ngram(self.current_corpus, word)
        return result
        # if isinstance(result, pd.DataFrame):
        #     print(f"Found DataFrame for '{word}':\n{result}")  # Debug: print the result of lookup
        #     return result
        # else:
        #     raise ValueError(f"Expected DataFrame for '{word}', got {type(result)}")

In [54]:
def evaluate_expression(parser, expression, current_corpus):
    tree = parser.parse(expression)
    calc = Calculate(current_corpus)
    final_result = calc.transform(tree)  
    return final_result  # Just return the DataFrame

In [35]:
# Example 

corpus = ti.get_imag_corpus()

c = corpus[(corpus.authors.str.contains("Skram"))]

In [60]:
# Example usage
expression = "(hun/han)"
result = evaluate_expression(parser, expression, corpus)
result.columns = [expression]

In [61]:
result

      (hun/han)
year
1814   0.055030
1815   0.087496
1816   0.109841
1817   0.102389
1818   0.097813
1819   0.116091
1820   0.301038
1821   0.152234
1822   0.133193
1823   0.096057
1824   0.132248
1825   0.170767
1826   0.073927
1827   0.167926
1828   0.138014
1829   0.131693
1830   0.061522
1831   0.129652
1832   0.161612
1833   0.164646
1834   0.145428
1835   0.204295
1836   0.145005
1837   0.104494
1838   0.132613
1839   0.123288
1840   0.148270
1841   0.205212
1842   0.108490
1843   0.264299
1844   0.169303
1845   0.187035
1846   0.145233
1847   0.148399
1848   0.130783
1849   0.134071
1850   0.228941
1851   0.166017
1852   0.178382
1853   0.137630
1854   0.124895
1855   0.143573
1856   0.191214
1857   0.189744
1858   0.148274
1859   0.152094
1860   0.224308
1861   0.197479
1862   0.194777
1863   0.155201
1864   0.128529
1865   0.147427
1866   0.220625
1867   0.126796
1868   0.206080
1869   0.248214
1870   0.234932
1871   0.162457
1872   0.251344
1873   0.248257
1874   0.183759
1875   0.278874
1876   0.231440
1877   0.227869
1878   0.240204
1879   0.220457
1880   0.269781
1881   0.222323
1882   0.272052
1883   0.217654
1884   0.269904
1885   0.292073
1886   0.257280
1887   0.251197
1888   0.210946
1889   0.215251
1890   0.289268
1891   0.276817
1892   0.286167
1893   0.356708
1894   0.303651
1895   0.329107
1896   0.322704
1897   0.254405
1898   0.376829
1899   0.360736
1900   0.376470
1901   0.408625
1902   0.418495
1903   0.342769
1904   0.292561
1905   0.334799

In [59]:
result.to_frame(name=expression).plot()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [47]:
result.iloc[:,0]

year
1814    3.326539
1815    2.418094
1816    2.162034
1817    1.732963
1818    1.538582
1819    1.850603
1820    2.494632
1821    1.864876
1822    2.122783
1823    1.662861
1824    2.275468
1825    1.760429
1826    2.122321
1827    1.818484
1828    1.611475
1829    1.912228
1830    1.786902
1831    2.693324
1832    1.818792
1833    1.925200
1834    1.585563
1835    2.221803
1836    1.612742
1837    1.832088
1838    1.861686
1839    2.018412
1840    2.696080
1841    2.211891
1842    2.046084
1843    1.425994
1844    2.071494
1845    1.937272
1846    1.979560
1847    1.756148
1848    2.466812
1849    1.819010
1850    1.709929
1851    2.273247
1852    1.524381
1853    1.701695
1854    1.460828
1855    1.766110
1856    1.541611
1857    1.557144
1858    1.361391
1859    2.146939
1860    1.874834
1861    1.635178
1862    1.445098
1863    1.705255
1864    1.919583
1865    1.813380
1866    1.667614
1867    1.874120
1868    1.734365
1869    1.574086
1870    1.755905
1871    1.834863
1872    1.833353
1873    1.680322
1874    1.502670
1875    1.634684
1876    1.500478
1877    1.620886
1878    1.725323
1879    1.618693
1880    1.356833
1881    1.588482
1882    1.627669
1883    1.617491
1884    1.449395
1885    1.667533
1886    1.499737
1887    1.532583
1888    1.310519
1889    1.332805
1890    1.351478
1891    1.450181
1892    1.504666
1893    1.504358
1894    1.511141
1895    1.609012
1896    1.500542
1897    1.407847
1898    1.464736
1899    1.333369
1900    1.483312
1901    1.622254
1902    1.543635
1903    1.632824
1904    1.599783
1905    1.477220
Name: han, dtype: float64

In [11]:
# Example usage
expression = "(og + i)"
result = evaluate_expression(expression, current_corpus)
#print(result)

In [12]:
result

           sum
year
1877  3.889077
1878  4.159884
1889  4.799588
1890  4.706790
1892  4.021555
1893  3.858314
1894  3.953254
1895  2.290433
1896  2.594097
1897  4.738213
1898  3.708016
1899  4.694810
1900  5.416863
1902  3.199440
1903  5.097228
1904  5.059094
1905  5.213237

In [8]:
corpus = ti.get_imag_corpus()

In [9]:
c = corpus[corpus.authors.str.contains("Hamsun")]
current_corpus = c

In [13]:
ti.corpus_ngram_old(corpus[(corpus.authors.str.contains("Skram"))],words=["og","i"])

             i        og
year
1827       NaN       NaN
1830  0.017094  0.000000
1882  0.021923  0.025827
1885  0.015685  0.029035
1887  0.022065  0.035140
1888  0.014410  0.031698
1889  0.009882  0.015852
1890  0.017305  0.029724
1891  0.015094  0.031550
1892  0.015053  0.034051
1893  0.010545  0.017839
1894  0.016483  0.016417
1895  0.011754  0.030416
1897  0.016743  0.031572
1898  0.013898  0.032177
1899  0.014529  0.033728
1900  0.015243  0.030920
1901  0.019374  0.030149
1902  0.017563  0.029243
1905  0.015206  0.033151

In [14]:
ti.corpus_ngram(corpus[(corpus.authors.str.contains("Skram"))],words="og i")

             i        og
year
1827  0.000000  0.000000
1830  1.709402  0.000000
1882  2.192300  2.582671
1885  1.568469  2.903516
1887  2.206483  3.514029
1888  1.440982  3.169814
1889  0.988234  1.585232
1890  1.682118  2.986499
1891  1.509409  3.155039
1892  1.505300  3.405127
1893  1.054462  1.783892
1894  1.648280  1.641739
1895  1.175538  3.041847
1897  1.666015  3.222526
1898  1.389800  3.217682
1899  1.452910  3.372827
1900  1.524251  3.091994
1901  1.940442  3.018099
1902  1.756318  2.924299
1905  1.513540  3.299773